@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color: lightgrey;
}

.form{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    box-shadow: black;
}

.error{
    color: red;
    margin-top: 2px;
}

h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}

form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

button{
    font-size: 1rem;
    margin-top: 8px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 60%;
    color: #fff;
    cursor: pointer;
    background: rgb(48, 127, 230);
}

button:hover{
    background-color: rgb(0, 174, 255); 
}

input:focus{
    border: 1px solid rgb(192, 192, 192);
}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label{
    font-size: 0.7rem;
}

.terms a{
    color: blue;
    text-decoration: none;
}

.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.member a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}


/* Sign In Page */

.recover{
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recover a{
    text-decoration: none;
    color: #464647;
    margin-left: 30px;
}


